* {
  margin: 0;
  padding: 0;
}

.shopPage {
  align-items: flex-start;
  display: flex;
  margin-top: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(248, 236, 255);
  border: 0.5rem solid rgb(154, 154, 255);
  border-radius: 1rem;
  height: 5rem;
  margin: 1rem;
  padding: 1rem;
  width: 9rem;
}

.button {
  background-color: rgb(154, 154, 255);
  border: none;
  border-radius: 5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.cart {
  background-image: url('./../images/cart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 1rem 2rem;
  padding-left: 2rem;
}
